<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.petcare">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PetCare">
        <activity
            android:name=".PasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ContactActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".Main_Business_Activity"
            android:exported="false" />
        <activity
            android:name=".MainCustomerActivity"
            android:exported="false" />
        <activity
            android:name=".VetActivity"
            android:exported="false" />
        <activity
            android:name=".TermsAndConditionActivity"
            android:exported="false" />
        <activity
            android:name=".SummaryAppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".DateAppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".AppoinmentPetActivity"
            android:exported="false" />
        <activity
            android:name=".AddPetActivity"
            android:exported="false" />
        <activity
            android:name=".RequestAppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".ShowProfileActivity"
            android:exported="false" />
        <activity
            android:name=".AddServicesActivity"
            android:exported="false" />
        <activity
            android:name=".MessageActivity"
            android:exported="false" />
        <activity
            android:name=".AddWalkinClientActivity"
            android:exported="false" />
        <activity
            android:name=".BusinessNotificationActivity"
            android:exported="false" />
        <activity
            android:name=".GroomingActivity"
            android:exported="false" />
        <activity
            android:name=".BusinessRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".BusinessMessageActivty"
            android:exported="false" />
        <activity
            android:name=".OptionSignUpActivity"
            android:exported="false" />
        <activity
            android:name=".ShowPetActivity"
            android:exported="false" />
        <activity
            android:name=".CreateNewPetActivity"
            android:exported="false" />
        <activity
            android:name=".AllPetActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerCreateProfile"
            android:exported="false" />
        <activity
            android:name=".OwnerCreateProfile"
            android:exported="false" />
        <activity android:name=".CreateProfileActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>